@font-face {
    font-family: "TF2";
    src: url("fonts/tf2secondary.ttf");
}

@font-face {
    font-family: "TF2Build";
    src: url("fonts/tf2build.ttf");
}

/* Reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{padding:0;margin:0}fieldset,img{border:0}table{border-collapse:collapse;border-spacing:0}ol,ul{list-style:none}address,caption,cite,code,dfn,em,strong,th,var{font-weight:normal;font-style:normal}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:100%}q:before,q:after{content:''}abbr,acronym{border:0}
/* Standard Elemente */
	html, body { height: 100%; }
	body {
		font-size: 14px;
		line-height: 1em;
		font-family: TF2, Arial, Helvetica, Geneva, sans-serif;
		color: #F0E1BA;
		background: #6b4532 url('images/bg.jpg') repeat-x;
	} 
		
    /* Links */
    a {
        color: #F77D3A;
        text-decoration: none;
		font-weight: bold;
	}

        a:visited { }
        a:hover, a:focus { color: #ECD1C1; }
        a:active { }

    /* Forms */

    input { float: left;}
	label { float: left; clear: left;}
	input:focus {
	}
	
    textarea { }
    button { }
    /* Text */
    q { }
    q q { }

    blockquote { }
    strong { font-weight:bold; }
    em { font-style: italic; }

	p {
		padding: 5px 0 0 5px;
	}

	h1,h2,h3,h4 {
		 float: left;
		 color: #F77D3A;
		 font-family: "TF2Build";
	}
    h1 { font-size: 14px; }


/* Layout */
#background_image{
	background:url("images/bg.png") no-repeat scroll center -37px transparent;
	height:680px;
	position:absolute;
	width:100%;
	z-index:-5;
}
#wrapper{
	width: 955px;
	min-height:100%; 
	margin: 0 auto;
}
#header{
	width: 935px;
	height: 220px;
	background: url("images/header.png") center no-repeat;
	float: left;
	clear: both;
}
a#logo{
	display:block;
	height: 220px;
	width: 935px;
	overflow: hidden;
	text-indent: -5000px;
	float: left;
}
#sidebar {
	clear:both;
	float:right;
	width:210px;
	margin-right: 23px;
} 
#content{
	float: left;
	width: 640px;
	padding: 0px 30px 30px 5px;
}
#footer{
	clear:both;
	font-size:11px;
	height:26px;
	margin-left:auto;
	margin-right:auto;
	margin-top:-36px;
	width:935px;
}

/************/

.button, .play_now_button {
	-moz-border-radius:5px; -webkit-border-radius: 5px; border-radius:5px;
	-moz-box-shadow:0 2px 5px #333; -webkit-box-shadow:0 2px 5px #333; box-shadow:0 2px 5px #333;
	background:url("images/gradient.png") repeat-x 0 -100px #FF970F;
	border:1px solid #644640;
	color:#FFFFFF;
	cursor:pointer;
	float:left;
	font-family:TF2Build;
	font-size:35px;
	font-weight:bold;
	line-height:1.2em;
	margin-bottom:15px;
	margin-left:-2px;
	padding:7px;
	position:relative;
	text-align:center;
	text-shadow:0 2px 1px #000;
	width:100%;
	z-index: 10;
}

.play_now_button:hover, .button:hover {
	background-position: 0 -70px;
}

.button.ready_up{
	background-color: lime;
}

.button.ready_off{
	background-color: #4c231c;
}

.button.join_game.locked {
	background-color: gray;
}

.button.small{
    background-color: #333333;
    border: 1px solid #EEEEEE;
    color: #FFFFFF;
    padding: 3px 10px;
    width: auto;
	font-size: 1em;
	margin: -3px 3px 0 3px;
	font-weight: normal
}

.button.join{
    background-color: #333333;
    border: 1px solid #EEEEEE;
    color: #FFFFFF;
    font-size: 1.2em;
    margin-left: 10px;
    margin-top: 15px;
    padding: 3px;
    width: 115px;
}

.button.join_this{
    background-color: #333333;
    border: 1px solid #EEEEEE;
    color: #FFFFFF;
}


.lobby_panel, .profile_panel, .friends_panel, #lobby_filter, #lobby_info, .panel {
	padding: 7px;
	-moz-border-radius: 5px;
	-moz-box-shadow: 0 0 5px #333;
	box-shadow: 0 0 5px #333;
	border-radius: 5px
	-webkit-border-radius: 5px;
	-webkit-box-shadow: 0 0 5px #333;
	float: left;
	margin-bottom: 15px;
	width: 100%;
	background:url("images/gradient.png") repeat-x scroll 0 -150px #2F251B;
	border:1px solid #2F251B;
	position: relative;
	z-index: 5;
}

.lobby_info{
	float: right;
	margin-right: 20px;
}

.login {
  width:114px;
  height:43px;
  top: 90px;
  left: 150px;
  position: absolute;
  background:url(images/login.png) no-repeat;
  text-indent:-9999px;
  border:none;
  cursor:pointer;
}

.loginbg {
  background-image:url(images/splash.jpg);
  background-position: center center;
  width: 900px;
  height: 508px;
  position: relative;
  border-radius: 10px;
  margin: auto;
  vertical-align:middle;
  background-repeat:no-repeat;
}
#container { width: 100%; height: 100%; display: table; }
#position { display: table-cell; vertical-align: middle; width: 100%; text-align: center; }

#lobbys_opened {
	float: left;
	font-weight: bold;
	margin-left: 5px;
	margin-bottom: 3px;
	font-size: 12px;
}

#lobby_filter, #lobby_info {
	margin-top:-30px;
	padding:20px 5px 5px;
}
#skill_to, #skill_from {
	color:#ECD1C1;
	margin-left:5px;
	width:85px;
}
#uniform-skill_from, #uniform-skill_to {
	width:95px;
	float: left;
	margin-bottom: 0;
}
#uniform-skill_from span, #uniform-skill_to span {
	width: 65px;
}

#uniform-not_full{
	margin: 3px;
	margin-left: 15px;
}

#lobby_filter label {
	font-weight: bold;
	line-height: 25px;
	float: left;
	clear: none
}

.lobby_panel {
	width: 626px;
}

.lobby_panel:hover {
	-moz-box-shadow: 0 0 10px #333; 	box-shadow: 0 0 10px #333; 	-webkit-box-shadow: 0 0 10px #333;
	cursor: pointer;
	background:url("images/gradient.png") repeat-x scroll 0 -155px #2F251B;
}

.lobby_panel img.map_pic {
	float: left;
	border: 1px solid #644640;
	height: 50px;
}

.panel_left{
	float: left;
	padding-left: 3px;
}

.date {
	float: left;
	color: #ECD1C1;
	margin-left: 4px;
	margin-top: 1px;
}

.map {
	float: left;
	clear: left;
	color: #ECD1C1;
}

.classes{
	float: left;
	clear: left;
	margin-top: 1px;
}

.classes li {
	float: left;
	opacity: .5;
}

.class_available{
	opacity: 1 !important;
}

.panel_right{
	float: right;
	padding-right: 3px;
}

.skillevel {
	float: right;
	font-weight: bold;
	background: url("images/bullet_arrow_down.png") no-repeat left;
	padding-left: 15px;
}

.skill_matched{ background: url("images/bullet_green.png") no-repeat left; }
.skill_higher{ background: url("images/bullet_red.png") no-repeat left; }

.lobby_matched { -moz-box-shadow: 0 0 5px orange; }
.lobby_matched:hover { -moz-box-shadow: 0 0 10px orange; }

.matchtype {
	float: right;
	clear: right;
	color: #ECD1C1;
}

.playercount {
	float: right;
	clear: right;
	font-size: 20px;
	font-weight: bold;
}

.profile_panel h1, .friends_panel h1, .chat_container h1, #lobby_info h1, .lobby_info h1 {
	width: 100%;
	border-bottom: 1px solid #da8a4c;
	margin-bottom: 8px;
	float: left;
}

#lobby_info h1, .lobby_info h1 {
	margin-bottom: 3px;
	margin-top: 5px;
}
.profile_panel img.small_avatar, .friends_panel img {
	border: 1px solid #DA8A4C;
	float: left;
	margin: 2px;
	margin-right: 3px;
}

.profile_panel .class_icon{
	border: none;
	margin: 1px 2px 0 0;
}

.friends_panel ul {
	float: left;
}
.friends_panel li {
	height: 40px;
}

.user_name {
	float: left;
	width:170px;
	color: #F0E1BA;
}

.user_steamid, .user_steamon{
	float: left;
	width:170px;
	font-size:12px;
	line-height:10px;
	color: #ECD1C1;
}

.friend_offline .user_name{
	color: #aaa;
}

.profile_panel dd, #lobby_info dd, .lobby_info dd {
	float: left;
}
.profile_panel dt, #lobby_info dt, .lobby_info dt{
	width: 70px;
	float: left;
	clear: left;
	color: #ECD1C1;
}

.lobby_tooltip, .lobby_tooltip_big {
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	-moz-box-shadow:0 0 5px #333333;
	-webkit-box-shadow:0 0 5px #333333;
	box-shadow:0 0 5px #333333;
	background:url("images/gradient.png") repeat-x scroll 0 -150px #2F251B;
	border:1px solid #2F251B;
	margin-bottom:15px;
	margin-left:5px;
	margin-top: -50px;
	padding:50px 7px 7px;
	width:615px;
	position: relative;
	float: left;
}

.lobby_tooltip_big {
	width:585px;
	padding-left: 40px;
	padding-bottom: 10px;
}

.chat_container{
	width:585px;
	padding-left: 40px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	-moz-box-shadow:0 0 5px #333333;
	-webkit-box-shadow:0 0 5px #333333;
	box-shadow:0 0 5px #333333;
	background:url("images/gradient.png") repeat-x scroll 0 -150px #2F251B;
	border:1px solid #2F251B;
	margin-bottom:15px;
	margin-left:5px;
	padding:7px;
	width:615px;
	position: relative;
	float: left;
}

#chat_box{
	background:url("images/gradient.png") repeat-x scroll 0 -150px #2F251B;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	height: 170px;
	width: 595px;
	float: left;
	padding: 5px;
	margin: 0 5px 10px 5px;
	overflow-y: auto;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
}

#chat_box dt{
	float: left;
	clear: left;
	font-weight: bold;
	margin-right: 3px;
	line-height: 1.3em;
	
}

#chat_box dt.lobby_log{
	font-style: italic;
	font-weight: normal;
	color: #ccc;	
}

#chat_box dd{
	float: left;
	line-height: 1.3em;
	color: #ECD1C1;
}

#chat_box dd span.time{
	font-size: 0.8em;
	color: #ccc;	
	line-height: 1.1em;
	float: right;
	margin-left: 3px;
	display: none;
}

#chat_box dd:hover span.time{
	display: block;
}

#chat_new{
	background:url("images/gradient.png") repeat-x scroll 0 -120px #2F251B;
    border: 1px solid #EEE;
    color: #FFFFFF;
    padding: 3px 30px 3px 3px;
    width: 530px;
	font-size: 1em;
	margin: -2px 5px 0 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	height: 15px;
	float: left;
}

.button.chat_send{
	margin-left: -20px;
}

.blue_players, .red_players, .spec_players {
	float: left;
}

.blue_players li, .red_players li {
	padding: 3px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	background: #3c352f;
	margin: 3px;
	width: 200px;
	float: left;
	clear: left;
	line-height: 18px;
}

.lobby_tooltip_big .blue_players li, .lobby_tooltip_big .red_players li {
	padding: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius:5px;
	border-radius: 5px;
	background: #3c352f;
	margin: 3px;
	width: 250px;
	float: left;
	clear: left;
	line-height: 18px;
}

.lobby_tooltip_big .ready img.avatar{
	-moz-box-shadow:0 0 4px lime;
	-webkit-box-shadow:0 0 4px lime;
	box-shadow:0 0 4px lime;
}

.lobby_tooltip_big .lobby_leader img.avatar{
	-moz-box-shadow:0 0 4px gold;
	-webkit-box-shadow:0 0 4px gold;
	box-shadow:0 0 4px gold;
}


.blue_players li a, .red_players li a {
	color: #F0E1BA;
}

.blue_players li a img, .red_players li a img {
	height: 18px;
}

.blue_players li a img.avatar, .red_players li a img.avatar {
	height:16px;
}

.blue_players li.empty, .red_players li.empty {	cursor: pointer; }

.lobby_tooltip img, .lobby_tooltip_big img{
	float:left;
	margin-right:3px;	
}

.lobby_tooltip img.avatar, .lobby_tooltip_big img.avatar{
	float:right;
	margin-left:3px;
	border: 1px solid #DA8A4C;
}

.lobby_tooltip_big img.kick{
	/* show to lobby leader on mouseover */
    cursor: pointer;
    float: right;
    margin-top: 1px;
	display: none;
}

.blue_players li:hover img.kick, .red_players li:hover img.kick {
	display: block;
}

.teamname {
	font-weight: bold;
	text-align: center;
	color: #fff;
	text-shadow: 0 2px 2px #000;
	cursor: pointer;
}

.teamname.blu { background: #80a1c2 !important }
.teamname.red { background: #c15143 !important }


.class_list {
  float: left;
  clear: both;
  margin-top: 3px;
  width: 150px;
  margin-left: 10px;
}

.class_list li {
  width: 16px;
  height: 16px;
  padding: 3px;
  background:url("images/gradient.png") repeat-x scroll 0 -150px #2F251B;
  border:1px solid #1d1712;
  -moz-border-radius:0.5em;
  -webkit-border-radius:0.5em;
  border-radius:0.5em;
  float:left;
  margin: 3px;
  cursor: pointer;
}

.class_list li.selected, .class_list li:active  {
	background:url("images/gradient.png") repeat-x scroll 0 -110px #2F251B;	
}

.class_list li:hover, .class_list li:focus {
	background:url("images/gradient.png") repeat-x scroll 0 -130px #2F251B;	
}
	
.class_list li img {
  width:16px;
  height:16px;
}

.team_switch{
	float: right;
	width: 20px;
	margin: 5px;
	margin-right: 10px;
}

.join_spec, .join_red, .join_blu{
	height: 16px;
	width: 18px;
	border: 1px solid;
	display: block;
	float: left;
	cursor: pointer;
	-moz-box-shadow:0 0 2px #000 inset;
	-webkit-box-shadow:0 0 2px #000 inset;
	box-shadow:0 0 2px #000 inset;
}

.join_spec{
	background:url("images/gradient.png") repeat-x 0 -150px #333;
	border-top: none;
	border-bottom: none;
	height: 18px;
}

.join_blu{
	background:url("images/gradient.png") repeat-x 0 -150px #80a1c2;
	-moz-border-radius: 3px 3px 0 0;
	-webkit-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0; 
}

.join_red{
	background:url("images/gradient.png") repeat-x 0 -150px #c15143;
	-moz-border-radius:0 0 3px 3px;
	-webkit-border-radius:0 0 3px 3px;
	border-radius:0 0 3px 3px;
}

.join_active{
	-moz-box-shadow:0 0 3px #DA8A4C inset;
	-webkit-box-shadow:0 0 3px #DA8A4C inset;
	box-shadow:0 0 3px #DA8A4C inset;
}

.join_spec:hover, .join_red:hover, .join_blu:hover{
	background-position: -100px;
}

.rate_switch{
	float: right;
	margin: 3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	text-shadow: 0 1px 1px #000;
}

.rate_up, .rate_down{
	height: 12px;
	width: 14px;
	display: block;
	float: left;
	cursor: pointer;
	-moz-box-shadow:0 0 2px #000 ;
	-webkit-box-shadow:0 0 2px #000;
	box-shadow:0 0 2px #000;
	line-height: 1em;
	text-align: center;
	background: #333;
}

.rate_down{
	line-height: 8px;
}

.rate_up:hover, .rate_down:hover{
	background-color: #444;
}

.rate_up.active, .rate_down.active{
	background: #555;
}

.button.bottom_nav{
	background:url("images/gradient.png") repeat-x 0 -150px #2F251B;
	border:1px solid #2F251B;
	padding: 5px;
}

.button.bottom_nav:hover{
	background:url("images/gradient.png") repeat-x 0 -100px #2F251B;
}

a.friend_inv{
	-moz-border-radius:3px; -webkit-border-radius: 3px; border-radius:3px;
	-moz-box-shadow:0 1px 2px #333333; -webkit-box-shadow:0 1px 2px #333333; box-shadow:0 1px 2px #333333;
	background:url("images/gradient.png") repeat-x 0 -150px #2F251B;
	border:1px solid #644640;
	padding:1px;
	position:absolute;
	text-align:center;
	text-shadow:0 2px 1px #000;
	margin-left: -23px;
	margin-top: 17px;
	font-size: 0.9em;	
}

.teamlist li {
  height:27px;
  width:221px;
  background:url(images/blueGradient.png) repeat-x bottom #312520;
  margin:4px;
  -moz-border-radius:0.5em; -webkit-border-radius:0.5em; border-radius:0.5em;
}

.teamlist.blue {
  float:left;
}

.teamlist.red {
  float:right;
}

.teamlist.blue li {
  border:1px solid #292d36;
}



.teamlist.red li {
  border:1px solid #4c231c;
}

.classList {
  float:left;
  width:100px;
}

.classList li {
  width: 45px;
  height: 45px;
  background:url(images/blueGradient.png) repeat-x bottom #312520;
  border:1px solid #1d1712;
  -moz-border-radius:0.5em; -webkit-border-radius:0.5em; border-radius:0.5em;
  float:left;
}

.classList li.scout, .classList li.pyro, .classList li.heavy, .classList li.medic, .classList li.spy {
  float:left;
  margin:0 2px 8px 0;
}

.classList li.soldier, .classList li.demoman, .classList li.engineer, .classList li.sniper, .classList li.random {
  float:right;
  margin:0 0 8px 2px;
}

.classList li img {
  width:32px;
  height:32px;
  margin:6px;
}

.classList li.ready {
  width:100px;
  height:46px;
  text-align:center;
  font-size:14pt;
}

/* Allgemeine Klassen */
.clear { 
    display:block;
    width:100%;
    clear:both;
}
